<h1>Editar credenciales</h1>
 
<%= form_for @user do |f| %>
  <p>
    <%= f.label :usuario %><br>
    <%= f.text_field :username %>
  </p>
 
  <p>
    <%= f.label :contraseña %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>