<%= form_for @deposit do |f| %>
  <p>
    <%= f.label :cantidad %><br>
    <%= f.text_field :amount %>
  </p>
 
  <p>
    <%= f.label :usuario %><br>
    <%= f.text_area :user %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>